/* h3 */
h3 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 8px;
  text-align: center;
}

/* ul & ol */
ul, ol, li {
  margin-left: 20px; /* Indent lists */
  color: #000000; /* black text */
  text-align: left; /* Align text to the left */
}

/* <p> texts for TermOfUse.js & PrivacyPolicy.js */
.text {
  text-align: left; /* Align text to the left */
}

/* Optional: Link styles inside text */
.section-title a {
  color: rgb(128, 128, 128);
  text-decoration: underline;
}

.section-title a:hover {
  color: white;
}



/* Footer already in App.js, no need to repeat */
