.main_container {
  padding: 20px;
  background-color: rgb(34, 139, 34); /* forest green */
  color: rgb(0, 0, 0); /* black text */
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  background-color: #ffd700; /* gold */
  color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(34, 139, 34, 0.4);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page-header {
  background-color: #ffffff; /* white background */;
  border-radius: 8px;
  color: #000000;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px #000000; /* black shadow */;
}

.section {
  margin-bottom: 2rem;
  text-align: center;
  color: #ffffff; /* white text */
  text-shadow: none;
}

.page-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(34, 139, 34, 0.4);
}

.subheader {
  font-size: 1.8rem;
  margin: 2rem 0 1rem 0;
  color: #228b22;
  text-align: center;
  font-weight: 600;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  text-align: center;
}

.contact-info {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #a2d5a2; /* lighter green accent */
}